<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finanzas_Personales_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Finanzas_Personales_App.styles.css" asp-append-version="true" />
</head>
<body class="background-body-layout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm background-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Finanzas Personales</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ">
                            <a class="nav-link font-secondary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item  font-secondary">
                            <a class="nav-link font-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        

                    </ul>
                    <!-- Este bloque se alinea a la derecha -->
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item  font-secondary">
                                <a class="btn btn-success" asp-area="" asp-controller="Ingreso" asp-action="Agregar">Agregar Ingreso</a>
                            </li>

                            <li class="nav-item  font-secondary">
                                <a class="btn btn-success" asp-area="" asp-controller="Operaciones" asp-action="Resumen">Ver operaciones</a>
                            </li>

                            <li>
                                <a href="/Account/Logout" class="btn btn-danger">Cerrar sesión</a>
                            </li>
                        }
                        else
                        {
                            <li class="align-content-end">
                                <a href="/Account/Login" class="btn btn-success">Iniciar sesión con Google</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (User.Identity.IsAuthenticated && @ViewData["Title"] != "Index")
        {
            <h5 class="h5">Hola, <span class="font-secondary">@User.Identity.Name</span></h5>
        }
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Finanzas_Personales_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
