html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background-body-layout {
    background-color: #1F2E28;
}
.background-primary {
    background-color: rgb(81, 152, 114);
}

.background-secondary {
    background-color: rgb(190, 197, 173);
}

.background-dark {
    background-color: rgb(59, 82, 73);
}

.font-primary {
    color: rgb(81, 152, 114);
}

.font-secondary {
    color: rgb(190, 197, 173);
}

.font-dark {
    color: rgb(59, 82, 73);
}